h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 1rem;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

button {
    /* display: block; */
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: #58A8F5;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0483FB ;
}